* {
  margin: 0;
  padding: 0;
}

body {
  color: seashell;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  position: relative;
}

.content {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin-top: 70px;
  margin-bottom: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.locations {
  height: 500px;
  width: 1200px;
  background-image: url('../images/img-locations-background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.locations h2 {
  margin-bottom: 20px;
  background-color: transparent;
}

.location-list {
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.location-item {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1.0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mission {
  width: 1200px;
  height: 700px;
  background-image: url('../images/img-mission-background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission-statement {
  width: 100%;
  opacity: 1.0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission h2 {
  margin-bottom: 20px;
}

.featured-tea {
  margin: 50px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.featured-tea h2 {
  font-size: 36px;
  font-weight: bold;
}

.tea-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tea-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tea-item img {
  width: 300px;
  height: 200px;
}

.navbar {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  top: 0;
  width: calc(100% - 20px);
  height: 70px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: underline;
}

.footer {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts {
  height: 200px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name{
  font-size: 32px;
}

.copy {
  margin: 20px;
  align-self: flex-start;
}
